* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    height: 15rem;
    width: 15rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "header add"
        "library library";

}

.header-container {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.form-container {
    grid-area: add;
}